.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  .footer__column_content_copyright {
    flex-basis: 150px;
  }
}
