.footer__columns {
  position: relative;
  width: 90%;
  min-height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

@media screen and (max-width: 1050px) {
  .footer__columns {
    flex-direction: column;
    min-height: 100px;
  }
}
