.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
  border: none;
}

.video__iframe:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1100px) {
  .video__iframe {
    width: 415px;
    height: 216px;
  }
}

@media screen and (max-width: 910px) {
  .video__iframe {
    width: 315px;
    height: 216px;
  }
}

@media screen and (max-width: 690px) {
  .video__iframe {
    width: 250px;
    height: 190px;
  }
}

@media screen and (max-width: 560px) {
  .video__iframe {
    margin-right: 0;
    margin-bottom: 10px;
    width: 300px;
    height: 200px;
  }
}
