.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0;
  position: relative;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .feynman__subtitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 1145px) {
  .feynman__subtitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 790px) {
  .feynman__subtitle {
    font-size: 20px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 410px) {
  .feynman__subtitle {
    font-size: 15px;
    margin-top: 25px;
  }
}
