.header__subtitle {
  margin: 0;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .header__subtitle {
    font-size: 16px;
    max-width: 350px;
  }
}

@media screen and (max-width: 840px) {
  .header__subtitle {
    font-size: 15px;
    max-width: 300px;
  }
}

@media screen and (max-width: 743px) {
  .header__subtitle {
    top: 500px;
  }
}

@media screen and (max-width: 585px) {
  .header__subtitle {
    top: 400px;
  }
}

@media screen and (max-width: 515px) {
  .header__subtitle {
    max-width: 270px;
  }
}
