.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 1250px) {
  .footer__column-heading {
    font-size: 12px;
  }
}

@media screen and (max-width: 1100px) {
  .footer__column-heading {
    font-size: 10px;
    line-height: 10px;
  }
}
