.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  /* parameters for the header section */
}

.logo {
  width: 154px;
  height: 31px;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin-top: 0;
  margin-left: 64px;
  width: 730px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: relative;
}

.header__content {
  width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__subtitle {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2e80ed;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2e80ed;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  color: #2e80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph {
  margin: 0;
}

.paragraph_margin-bottom {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
}

.digits__content {
  width: 60%;
  margin: auto;
  text-align: center;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.table {
  width: 1100px;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0 0 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:nth-of-type(2n), .table__text:nth-of-type(5n) {
  margin-bottom: 0;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  height: 790px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2e80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  overflow: hidden;
  background-color: #000;
  position: relative;
  color: white;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  z-index: 0;
  width: 660px;
  height: 636px;
}

.section-title__theme_dark {
  position: relative;
  z-index: 1;
  margin-top: 90px;
}

.section-subtitle__theme_dark {
  position: relative;
  z-index: 1;
}

.table__theme_dark {
  position: relative;
  z-index: 1;
  margin-bottom: 90px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {

}

.table__text_theme_dark {
  margin-bottom: 0;
}

.footer {
  background-color: #000;
  min-height: 350px;
  color: white;
  border: 1px solid green;
}

.footer__columns {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  display: flex;
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 0;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

.column__link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

