.khan__book-pic {
  width: 620px;
  margin-right: 48px;
  object-position: top;
  object-fit: cover;
}

@media screen and (max-width: 750px) {
  .khan__book-pic {
    max-width: 390px;
    margin: 0;
  }
}

@media screen and (max-width: 470px) {
  .khan__book-pic {
    width: 100%;
    max-width: 250px;
    margin: 0;
  }
}
