.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  object-position: top;
  object-fit: cover;
}

@media screen and (max-width: 490px) {
  .khan__book-pic {
    max-width: 390px;
    min-height: 200px;
    margin: 0;
  }
}
